[submodule "libraries/fc"]
	path = libraries/fc
	url = https://gitlab.com/onegram-developers/onegram-fc.git
[submodule "docs"]
	path = docs
	url = https://github.com/bitshares/bitshares-core.wiki.git
[submodule "tests/onegram-integration-tests"]
	path = tests/onegram-integration-tests
	url = ../../onegram-developers/onegram-integration-tests.git
