[submodule "libraries/fc"]
	path = libraries/fc
	url = https://gitlab.com/onegram-developers/onegram-fc.git
[submodule "docs"]
	path = docs
	url = https://github.com/bitshares/bitshares-core.wiki.git
